@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@import '~/styles/theme.css';

/* components */
@import '~/styles/components/button.css';
@import '~/styles/components/text-input.css';

body {
  @apply font-text;
}

::selection {
  @apply bg-darklime-200 text-dark-stone;
}

.tile {
  overflow: hidden;
  position: relative;
  background: url('./assets/bg.jpg') no-repeat;
  background-size: 1200px 800px;
  background-repeat: no-repeat repeat;

  > * {
    @apply z-10;
  }

  &::before {
    @apply absolute bottom-0 left-0 size-300 rounded-full bg-darklime-100 mix-blend-color blur-3xl;
    content: '';
    transform: translateY(60%) translateX(-60%);
  }

  &::after {
    @apply absolute bottom-0 left-0 size-200 rounded-full bg-black/30 blur-3xl;
    content: '';
    transform: translateY(50%) translateX(-50%);
  }
}
